.button {
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding: .5rem 0.75rem;
    border-radius: 60px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Styles for button white */
.button.white {
    background-color: white;
    color: black;
    border: 1px solid #c2c2c2;
}

.button.white:hover {
    background-color: #267dff;
    color: white;
    border: 1px solid transparent;
    transform: translateY(-5px);
}

/* Styles for button blue */
.button.blue {
    background-color: #0057d9;
    color: white;
    border: none;
}

.button.blue:hover {
    background-color: #267dff;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out
}

.button.red {
    background-color: #e24550;
    color: white;
    border: none;
}

.button.red:hover {
    background-color: #e24550;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out
}

.button.agregarblue {
    background-color: #0057d9;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 40px;
}

.button.agregarblue:hover {
    background-color: #267dff;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out
}

.button.editar {
    background-color: #0057d9;
    color: white;
    border: none;
    border-radius: 5px;
}

.button.editar:hover {
    background-color: #267dff;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out
}

.button.eliminar {
    background-color: #e24550;
    color: white;
    border: none;
    border-radius: 5px;
}

.button.eliminar:hover {
    background-color: #e24550;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out
}

.button.shop {
    background-color: #0057d9;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 15px;
}

.button.shop:hover {
    background-color: #e24550;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out
}